
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}


.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}


.main-content.no-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  max-width: none; 
  margin: 0;
  background-color: #f5f5f5;
}
